*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Tajawal', sans-serif;
    background: linear-gradient(to right, #2d2d2d, #000000);
    
}

header{
    background-color: #0000005f;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    position: fixed;
    z-index: 100;
   
}

.logo{
    text-decoration: none;
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1.8em;
}

.navbar li{
    padding: 0 20px;
    display: inline-block;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
}

.navbar a:hover{
    transition: all 0.3s ease 0s;
    color: rgb(79, 226, 255);
    
}


.title{
    margin-top: 80px;
   text-align: center;
    padding: 30px;
    color: #fff;
}

.section-video{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.section-video .video{
    display: flex;
    justify-content: center;


}
.video iframe{
    width: 40em;
    height: 25em;
}
.section-video .info{
    text-align: center;
    width:90%;
    padding: 50px;
    font-size: 1.2em;
    color: #fff;
}


footer{
    background-color: black;
    padding: 20px 10px 20px 0;
    color: #fff;
}

@media (max-width: 1200px) {
    .logo {
      font-size: 1.5em;
    }
  
    .navbar li {
      padding: 0 10px;
    }
  
  }
  
  @media (max-width: 768px) {
    header {
      flex-direction: column;
      padding: 10px 5%;
    }
  
    .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .navbar li {
      padding: 10px 0;
    }
  
 
    .video iframe{
        width: 29em;
        height: 19em;
    }
  }
  
  @media (max-width: 480px) {
    .logo {
      font-size: 1.2em;
    }
  
    .navbar li {
      padding: 5px 0;
    }
  
   
  }